In [14]:
# Importer les bibliothèques nécessaires
import sqlite3
import pandas as pd

# Chemin vers la base de données SQLite
db_path = "../data/IAFetL.db"  # Remplace par le chemin correct si besoin

# Créer une fonction pour exécuter une requête SQL et afficher les résultats
def execute_query(query):
    """
    Exécute une requête SQL sur la base de données et retourne les résultats dans un DataFrame.

    :param query: La requête SQL à exécuter
    :return: Un DataFrame pandas contenant les résultats de la requête
    """
    try:
        # Connexion à la base de données
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        # Exécution de la requête et chargement des résultats dans un DataFrame
        #cursor.execute(query)
        df = pd.read_sql_query(query, conn)
        return df
    except sqlite3.Error as e:
        print(f"Erreur lors de l'exécution de la requête : {e}")
        return None
    finally:
        conn.close()

# Exemple de requête SQL
query = """
SELECT *
FROM METEO_DETAIL
ORDER BY DATE_METEO desc, DIRECTION desc
LIMIT 10
"""

# Exécuter la requête et afficher les résultats
results = execute_query(query)
if results is not None:
    display(results)  # Pour afficher les résultats directement dans le notebook

,ID,DATE_METEO,ANNEE,SEMAINE,DIRECTION,ID_STATION,RR,TM,TN,TX,UN,FFM,GLOT
0,73390,2025-01-11,2025,2,SO,33281001,0.0,7.1,4.5,9.6,79.0,4.0,183.0
1,73379,2025-01-11,2025,2,SO,31069001,0.0,8.9,5.8,12.1,78.0,6.4,246.0
2,73676,2025-01-11,2025,2,SE,6088001,0.0,10.4,8.8,13.0,55.0,3.7,123.0
3,73368,2025-01-11,2025,2,SE,13054001,0.0,7.8,5.9,13.3,52.0,6.5,616.0
4,73412,2025-01-11,2025,2,NO,35281001,0.0,3.9,2.4,8.2,57.0,1.7,589.0
5,73401,2025-01-11,2025,2,NO,75114001,0.0,1.3,-0.5,2.6,79.0,2.4,463.0
6,73434,2025-01-11,2025,2,NE,69029001,0.0,2.0,0.9,3.5,73.0,5.3,204.0
7,73357,2025-01-11,2025,2,NE,67124001,0.0,-0.6,-4.7,3.0,73.0,1.8,662.0
8,73389,2025-01-10,2025,2,SO,33281001,13.9,12.9,7.5,14.8,78.0,5.3,117.0
9,73378,2025-01-10,2025,2,SO,31069001,10.7,12.6,8.0,18.5,55.0,4.6,468.0

In [13]:
# Créer une fonction pour exécuter une requête SQL de suppression
def delete_data(condition):
    """
    Supprime des données de la table METEO_DETAIL en fonction de la condition spécifiée.

    :param condition: La condition SQL à appliquer pour la suppression (ex : "DATE_METEO < '2025-01-01'")
    """
    try:
        # Connexion à la base de données
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        
        # Construire la requête SQL DELETE
        query = f"DELETE FROM METEO_DETAIL WHERE {condition}"
        cursor.execute(query)
        
        # Confirmer les changements
        conn.commit()
        print(f"Suppression réussie pour la condition : {condition}")
    except sqlite3.Error as e:
        print(f"Erreur lors de la suppression : {e}")
    finally:
        conn.close()

# Exemple d'utilisation
delete_condition = "ID_STATION = 6088007"  # Supprimer les données avant le 1er janvier 2025
delete_data(delete_condition)

Suppression réussie pour la condition : ID_STATION = 6088007